{% extends 'master' %}

{% block content %}
  <div class="__banner">
    <div class="banner__inner">
      <form>
        {{ csrfField }}
        <input type="text" name="url" value="{% if url %}{{ url }}{% else %}http://{% endif %}">
        <input type="submit" name="submit" value="search">
      </form>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  <script src="//unpkg.com/adonis-websocket-client/dist/ws.min.js"></script>
  <script>
    const channel = 'crawler'
    const io = ws('')
    // start connection to channel
    const client = io.channel(channel).connect((error, response) => {
      console.log((error)
        ? error
        : `Connected successfully to Socket`)
    })
    client.on('disable', (response) => {
      c.disable(response)
    })

    var Crawly = function (element) {
      this.url = () => element.querySelector('input[type=text]')
      this.submit = () => element.querySelector('input[type=submit]')

      this.start = (event) => {
        // preventing from submitting formular
        event.preventDefault()
        // starting crawling
        client.emit('start', this.url().value)
      }

      this.disable = (value) => {
        this.url().disabled = value
        this.submit().disabled = value
      }
      // adding click listener
      this.submit().addEventListener('click', this.start.bind(this), false)
    }
    // tracking send form event
    const c = new Crawly(document.querySelector('form'))
  </script>
{% endblock %}
