@function tint($color, $percentage) {
   @return mix(white, $color, $percentage);
}
@function shade($color, $percentage) {
   @return mix(black, $color, $percentage);
}
$color-primary: #2E7A9E; //#316990;//#E56D70;//#316990; //#744d82;
$color-primary-tint: tint($color-primary, 12%);
$color-primary-shade: shade($color-primary, 44%); //#9D4645;//shade($color-primary, 22%);
$color-white: #fff;
$color-black: shade($color-primary, 78%);

body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
  background: $color-white;
}

* {
  padding: 0;
  margin: 0;
}

.__banner {
  background: $color-primary;
  background: radial-gradient(ellipse at top, $color-primary-tint 12%, $color-primary 32%, $color-primary-shade 99%, $color-primary-shade 100%), url("https://www.toptal.com/designers/subtlepatterns/patterns/subtle_white_feathers.png");
  background-blend-mode: multiply;
  height: 80vh;
  width: 100%;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
  color: $color-white;
}

.banner__inner {
  h1 {
    font-weight: 500;
    font-size: 180px;
    color: $color-white;
  }

  h2 {
    text-align: center;
    letter-spacing: 3px;
    margin-top: 80px;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 42px;
    color: $color-white;

    span {
      display: inline-block;
      margin: 0 30px;
    }
  }

  a,
  p {
    color: $color-white;
    font-size: 24px;
    font-weight: 300;
  }
}

.crawler {
  $this-font-size: 1rem;
  $this-padding: 0.5rem;
  margin: 30px auto;
  width: 980px;

  ul {
    display: block;
    list-style-type: none;
    padding: 0;
    margin: 30px 0;
    background: rgba(0,0,0,0.3);
    border-radius: 2px;
    overflow-y: scroll;
    height: 50vh;

    li {
      display: block;
      text-align: left;
      padding: $this-padding;
      font-weight: normal;

      &:nth-child(even) {
        background: rgba(0,0,0,0.1);
      }

      span {
        float: right;
        margin-left: 10px;
        opacity: 0.6;
      }
    }
  }

  form {
    display: flex;
    flex-flow: row nowrap;
    justify-content: strech;
  }

  button,
  input {
    height: $this-font-size + 2 * $this-padding;
    box-sizing: content-box;
    font-size: $this-font-size;
    padding: $this-padding;
    border-radius: 2px;
    border: 1px solid transparent;
    color: $color-black;

    &[type='text'] {
      flex-grow: 1;
      background: $color-white;
      box-shadow: inset 3px 3px 5px rgba(0,0,0,0.2);
    }
  }

  button {
    width: 160px;
    margin-left: 10px;
    background: tint($color-primary, 70%);
    padding-left: 2rem;
    padding-right: 2rem;
    text-transform: uppercase;
    cursor: pointer;
    transition: 160ms;

    &:hover {
      background: tint($color-primary, 83%);
      box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
    }

    &:active {
      box-shadow: 3px 3px 2px rgba(0,0,0,0.1), inset 2px 2px 3px rgba(0,0,0,0.1);
    }
  }
}

.__footer {
  text-align: center;
  margin: 30px auto;

  ul {
    display: table;
    margin: auto;
  }

  li {
    border-left: solid 2px #ccc;
    display: table-cell;

    &:first-child {
      border: none;
    }

    a {
      transition: opacity 0.5s;
      text-decoration: none;
      display: inline-block;
      font-weight: bold;
      padding: 0 30px;
      font-size: 13px;
      opacity: 0.8;
      color: #ccc;

      &:hover {
        opacity: 1;
      }
    }
  }
}
